In [2]:
#1. Write a Python program to print numbers from 1 to 50 using a for loop.

In [1]:
for i in range(0,50):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [3]:
# 2. Print all even numbers between 1 and 100 using a for loop.

In [6]:
for i in range(2, 100, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [7]:
#3. Write a program to calculate the sum of numbers from 1 to N entered by the user.

In [12]:
N = int(input("Enter a number N: "))
user = N * (N + 1) // 2
print( N, "is:", user)

Enter a number N:  8

8 is: 36

In [13]:
#4. Print the multiplication table of a number entered by the user (up to 10).

In [20]:
n = int(input("Enter a number: "))

for i in range(1, 10):
    print(n, "*", i, "=", n*i)

Enter a number:  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [21]:
#5. Write a program to reverse a string using a for loop.

In [43]:
name = input("Enter a name")
reversed_name = ""

for i in range(len(name)-1, -1, -1):
    reversed_name += name[i]
    print("Reversed name:", reversed_name)

Enter a name hello

Reversed name: o
Reversed name: ol
Reversed name: oll
Reversed name: olle
Reversed name: olleh

In [26]:
#6. Count the number of vowels present in a string using a for loop.

In [31]:
text = input("Enter a name: ")
count = 0
for letter in text:
    if letter.lower() in "aeiou": 
        count += 1

# Print the result
print( count)

Enter a name:  afteos

3

In [32]:
#7. Print the following pattern

In [33]:
for i in range(1, 6):  
    print("*" * i)

*
**
***
****
*****

In [34]:
#8. Write a program to check whether a number is prime using a for loop.

In [44]:
num = int(input("Enter a number"))
factors = 0

Enter a number 10

In [45]:
for i in range(2, num):
    factors += (num % i == 0)

In [49]:
print(num, "is prime" * (factors == 0) + "not prime" * (factors > 0))

10 not prime

In [52]:
# 9. Given a list:   numbers = [12, 5, 7, 18, 21, 30]   Print only numbers divisible by 3.

In [51]:
numbers = [12, 5, 7, 18, 21, 30]

for num in numbers:
    if num % 3 == 0:
        print(num)

12
18
21
30

In [53]:
#10.Break and Continue Print numbers from 1 to 20 but: - Skip multiples of 3. - Stop execution if number becomes greater than 15.

In [71]:
for i in range(1, 21):
    if i > 15:
        break         
    if i % 3 == 0:
        continue       
    print(i)

1
2
4
5
7
8
10
11
13
14

In [72]:
#11. Calculate factorial of a number using a while loop.

In [74]:
number = int(input("Enter a number: "))
factorial = 1
i = 1
while i <= number:
    factorial *= i
    i += 1    
    print("Factorial of", num, "is:", factorial)

Enter a number:  5

Factorial of 25 is: 1
Factorial of 25 is: 2
Factorial of 25 is: 6
Factorial of 25 is: 24
Factorial of 25 is: 120